<header class="masthead mt-4">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h4 class="display-6 lh-6 mb-3 fw-bold ">TU SELECCIÓN</h4>
                    <p class="lead fw-normal  ">Lorem ipsum dolor sit amet consectetur. Enim etiam turpis diam felis. </p>


                    <!-- <div class="d-flex flex-column flex-lg-row align-items-center">
                         <button class="btn btn-danger">icrea Tu Pool</button>
                          
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger   btm ms-2"> <i class="fa fa-user"></i> Selección</button>
                    <button class="btn btn-danger btm ms-2"> <i class="fa fa-database"></i> Selección Grupal</button>

                </div>

            </div>
        </div>
     <div class="height">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Participate</th>
                            <th scope="col">Tu Ganadones Rounda 1</th>
                            <th scope="col">Tu Ganadones Rounda 2</th>
                            <th scope="col">Tu Ganadones Rounda 1</th>
                            <th scope="col">Finale</th>
                        </tr>
                    </thead>
                </table>
                <div class="card cardcontet">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 mt-4">
                            <div class="row mt-4">
                                <p class="sn"> Caseser_pb</p>
                            </div>
                        </div>
                        <div class="col-md-2 m-4  col-sm-4 widthw">
                            <div class="row mt-4">
                                <div class="col-md-1  ">
                                    <span  class="rg">A</span >
                                    <div class="p-2 mb-2 cl  bg-primary text-white cl"></div>
                                    <span  class="cardw">QAT</span >
                                </div>
                                <div class="col-md-1 ">
                                    <span class="rg">B</span>
                                    <div class="p-2 mb-2 cl  bg-secondary text-white"></div>
                                    <span  class="cardw">USA</span >
                                </div>
                                <div class="col-md-1 ">
                                    <span class="rg">C</span>
                                    <div class="p-2 mb-2 cl  bg-success text-white"></div>
                                    <span  class="cardw">MAX</span >
                                </div>
                                <div class="col-md-1 ">
                                    <span class="rg">D</span>
                                    <div class="p-2 mb-2 cl  bg-danger text-white"></div>
                                    <span  class="cardw">DEN</span >
                                </div>
                                <div class="col-md-1 ">
                                    <span class="rg">E</span>
                                    <div class="p-2 mb-2 cl  bg-warning  text-white"></div>
                                    <span  class="cardw">JPN</span >
                                </div>
                                <div class="col-md-1 ">
                                    <span class="rg">F</span>
                                    <div class="p-2 mb-2 cl  bg-info text-white"></div>
                                    <span  class="cardw">CRO</span >
                                </div>
                                <div class="col-md-1 ">
                                    <span class="rg">G</span>
                                    <div class="p-2 mb-2 cl  bg-dark text-white"></div>
                                    <span  class="cardw">BRO</span >

                                </div>
                                <div class="col-md-1 ">
                                    <span class="rg">G</span>
                                    <div class="p-2 mb-2 cl  bg-dark text-white"></div>
                                    <span  class="cardw">PRO</span >

                                </div>
                                <!-- <div class="col-md-1 ">
                                    <div class="p-2 mb-2 cl  bg-dark text-white"></div>
                                </div> -->
                            </div>

                        </div>
                        <div class="col-md-2 m-4 col-sm-4 widthw1 ">
                            <div class="row mt-4">
                                <p class="s"> Sed quam amet pharetra at odio. </p>
                                <div class="col-md-1 ">

                                    <div class="p-2 mb-2 cl  bg-primary text-white"></div>
                                    <span  class="cardw">ARG</span >
                                </div>
                                <div class="col-md-1 ">

                                    <div class="p-2 mb-2 cl  bg-secondary text-white"></div>
                                    <span  class="cardw">BRA</span >
                                </div>
                                <div class="col-md-1 ">

                                    <div class="p-2 mb-2 cl  bg-success text-white"></div>
                                    <span  class="cardw">FRA</span >
                                </div>
                                <div class="col-md-1 ">

                                    <div class="p-2 mb-2 cl  bg-danger text-white"></div>
                                    <span  class="cardw">ESP</span >
                                </div>



                            </div>

                        </div>

                        <div class="col-md-2 m-4 widthw1">
                            <div class="row mt-4">
                                <p class="s">Sed quam amet pharetra at odio. </p>
                                <div class="col-md-1 ">

                                    <div class="p-2 mb-2 cl  bg-primary text-white"></div>
                                    <span  class="cardw">ARG</span >
                                </div>
                                <div class="col-md-1 ">

                                    <div class="p-2 mb-2 cl  bg-secondary text-white"></div>
                                    <span  class="cardw">BRA</span >
                                </div>
                                <div class="col-md-1 ">

                                    <div class="p-2 mb-2 cl  bg-success text-white"></div>
                                    <span  class="cardw">FRA </span >
                                </div>
                                <div class="col-md-1 ">

                                    <div class="p-2 mb-2 cl  bg-danger text-white"></div>
                                    <span  class="cardw">ESP</span >
                                </div>



                            </div>


                        </div>

                        <div class="col-md-2 m-3 widthw1">
                            <div class="row mt-4">
                                <p class="s"> Laoreet rhoncus eu</p>
                                <div class="col-md-1 ">
                                     <div class="p-2 mb-2 cl  bg-primary text-white"></div>
                                     <span  class="cardw">ESP</span >
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
     </div>
       
    </div>
</header>