<footer class="container">
    <div class="row">
        <div class="col-lg-6">
            <nav class="footer1 navbar-expand-lg bg-body-tertiary">
                <div class="">

             
                    <div  id="navbarNavAltMarkup">
                        <div class="nav-footer">
                            <a class="nav-link  " aria-current="page" href="#">Privacy de sevio</a>
                            <a class="nav-link" href="#">Policita de</a>
                            <a class="nav-link" href="#">Nostros</a>
                            <a class="nav-link disabled">preguntas frunqlty</a>
                            <a class="nav-link disabled">Contacto</a>
                        </div>
                    </div>
                </div>
            </nav>
            
        </div>
        <div class="col-lg-6">
            <nav class=" footer navbar-expand-lg bg-body-tertiary">
                <div class="">
 
                    <div id="navbarNavAltMarkup">
                        <div class="nav">
                            <a class="nav-link  " aria-current="page" href="#">copyright @ 2023 fanda.com</a>
                            <a class="nav-link" href="#">solo para proposito de entertainmentio  y  marketing</a> 
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</footer>