<div class="bg-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav ">
        
                    <li class="nav-item">
                        <a class="nav-link" routerLink="general">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="selecion">Tu Selecions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="reports" tabindex="-1" aria-disabled="true">Reportes</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
</div>
<router-outlet></router-outlet>