<header class="masthead mt-4">
    <div class="container">
        <div class="row  align-items-center mb-3 mb-md-0">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h4 class="display-6 lh-6 mb-3 fw-bold ">BANCO POPULAR</h4>
                    <p class="lead fw-normal  ">Pool Global</p>
                </div>
            </div>
            <div class="col-lg-6 mb-3 mb-md-0">
                <div class="justify-content-md-end justify-content-center d-flex">

                    <div class="btn3 ">
                        <button class="btn btn-outline-primary   btm ms-2"> <img src="assets/img/icon-volver.svg" height="10">  Volver</button>
                        <button class="btn btn-primary btn-general btm ms-2"> Unirse al Pool</button>
    
                    </div>

                </div>
              

            </div>
        </div>
        <div class="row gx-5 align-items-center">  
            <div class="col-lg-6 form-content">
                <div class="card mb-3">
                    <img src="assets/img/Portada123.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <img src="assets/img/Emblema12.svg" class="crd">
                        <p class="card-text">
                            ¡Bienvenidos a FUTBOL PUNTO SHOW CHALLENGE!
                            Esta competencia incluye Fase de Grupos, así como Fase de Eliminatoria, lo que significa que debes de llenar dos hojas de selecciones. La Fase de Grupos incluye el ranking de como los 32 equipos van a quedar en cada grupo y debe ser completado antes del 20 de noviembre. Luego, al pasar a la Fase de Eliminatoria, la segunda selección se realizará donde se seleccionará juego por juego con los 16 equipos de esta fase. Tu puntuación será determinada en base a la sumatoria de ambas Fases.
                            Buena suerte a todos los #Showseros. Si tienen preguntas, pueden escribirle a mundial@futbol.show.<br>

                            Terms and conditions: view<br>

                            — RunYourPool & Movember.
                        </p>

                    </div>
                </div>
                <div class="card border-primary mb-3">
                    <div class="card-header bgp"> <i class="fa fa-award me-2"></i>Regard de pool
                    </div>
                    <div class="card-body text-dark">
                        <ul><li>Each participant is limited to a single entry in the contest.</li></ul>
                        <ul><li>Members will submit two sets of picks.
                            <ul><li>Before the tournament starts, members will submit their picks for the group stage. For this pick sheet,
                                 members will guess the finishing position for each country in each group.</li></ul>
                                 
                            <ul><li>When the group stage is over, members will submit their picks 
                                for the knockout stage in a standard bracket pick sheet, picking the winner for each game.</li></ul>
                        </li></ul>
                        <ul><li>The pick deadline for the group stage will be when 
                            the first game starts, and is currently set to November 20, 2022 at 11:00 AM ET.</li></ul>
                        <ul><li>Members will receive the following points for each correct 
                            group finishing position: First:1 pt. Second:1 pt. Third:1 pt. Fourth:1 pt.</li></ul>
                            <ul><li>Members will receive the following points for each correct pick in the knockout 
                                stage: Round of 16:1 pt. Quarter Final:2 pts. Semi Final:4 pts. Final:8 pts.</li></ul>
                        <ul><li>The tie-breaker is the total number of goals in all 15 games of the knockout round, excluding shootout goals.</li></ul>
                    </div>
                    <div class="footer12"> 
                        <p>Si tienes alguna pregunta sobre estas reglas, por favor contacta a uno de nuestros representantes y
                        <br> responderemos cualquiera de tus dudas: Email: poolpopular@bancopopular.com.do Tel: (809) 555-6748</p>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="row parti align-items-stretch">
                    <div class="col-md-4 ">
                        <div class="card   mb-3" >
                            <div class="card-header bgp"> <i class="fa fa-user me-2"></i>participates</div>
                            <div class="card-body text-primary">
                                <h6 class="card-title text-center">32/200</h6>

                                <p class="text-center">Total partici</p>
                                <hr>
                                <h6 class="card-title text-center">34</h6>
                                <p class="text-center">Seleccion hechas</p>
                            <div class="btn1">
                                <button class="btn ">view todos</button>
                            </div>
                
                        </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card  mb-3 width" >
                            <div class="card-header bgp"> <i class="fa fa-calendar me-2"></i>Fetches importantes
                            </div>
                            <div class="card-body text-primary">

                                <p class="card-text card1">September 22 ,Decemeber 2 ,2022 : <span class="spanes">Group Stage</span></p>
                                <p class="card-text card1">Diciembre 3-6, 2022: <span class="spanes">Knockout Stage - Round of 16</span></p>
                                <p class="card-text card1">Diciembre 9-10, 2022:<span class="spanes">Knockout Stage - Quarter Finals</span></p>
                                <p class="card-text card1">Diciembre 13-14, 2022:<span class="spanes">Knockout Stage - Semi Finals</span></p>
                                <p class="card-text card1">Diciembre 18, 2022:<span class="spanes">Knockout Stage - Finals</span></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card  mb-3">
                            <div class="card-header bgp"> <i class="fa fa-star me-2"></i>Top 10 participates
                            </div>
                            <div class="card-body text-primary">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Lugar</th>
                                            <th>participates</th>
                                            <th>Total</th>
                                            <th>Round1</th>
                                            <th>Round2</th>
                                            <th>Semifinal</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <th scope="row">1</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">4</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>


                                        <tr>
                                            <th scope="row">5</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>


                                        <tr>
                                            <th scope="row">6</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">7</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">8</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">9</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">10</th>
                                            <td>joidshied_123</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                            <td>43</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class=" d-flex justify-content-end">
                                    <a href="#" class="btn btn-outline-dark">view todos</a>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>