<!-- <div class="row mt-4">

</div>
<div class="row mt-4">

</div> -->
<header class="masthead mt-4">
    <div class="container">
        
        
        
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h4 class=" lh-6 mb-3 fw-bold ">PARTICIPA</h4>
                    <p class="lead ">Selecciona un pool gloabal y`unete. O crea uno propio </p>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="row rm">
                    <div class="col-lg-3 col-md-6 col-6 ">
                        <div class="card plus border-0 " style="background: #F9F9F9">
                            <!-- <h6 class=" text-center">CREAT</h6>

                            <h1 class="text-center"><i class="fa fa-plus"></i></h1>
                            <h6 class=" text-center">POOL</h6> -->
                            <img src="assets/img/card/crear-pool.svg" class="img-fluid" alt="...">

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 ">

                        <div class="card mb-3 border-0 shadow-sm rounded-sm ">
                                <div class="row g-0  gb">

                                    <div class="col-md-4">
                                        <img src="assets/img/card/participa1.svg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="card-body ">
                                            <h6 class="card-title">Pool Global</h6>
                                            <p class="card-text">BANCO POPULAR</p>

                                        </div>

                                    </div>

                                </div>
                                <div class="bg-white">
                                    <div class="row mt-1 align-items-center">
                                        <div class="col-md-1"><i style="color:#213C73;" class="fa fa-user ms-2"></i></div>

                                        <div class="col-md-11">
                                            <p class="m-1"> <span class="text-danger">12</span> / 250 participates</p>
                                        </div>
                                    </div>

                                </div>
                        </div>

                    </div>

                    <!-- col-2 -->
                    <div class="col-lg-3 col-md-6 col-6 ">
                        <div class="card mb-3 border-0 shadow-sm rounded-sm ">
                            <div class="row g-0 gb">
                                <div class="col-md-4">
                                    <img src="assets/img/card/participa2.svg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">EMPRESA CON UN NOMBRE LARGO </p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1 align-items-center">
                                    <div class="col-md-1"><i style="color:#213C73;" class="fa fa-user ms-2"></i></div>

                                    <div class="col-md-11">
                                        <p class="m-1"> <span class="text-danger">43</span> / 150 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- col-3 -->
                    <div class="col-lg-3 col-md-6 col-6 ">
                        <div class="card mb-3 border-0 shadow-sm rounded-sm ">
                            <div class="row g-0 gb">
                                <div class="col-md-4">
                                    <img src="assets/img/card/participa3.svg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">FUNERARIA BLANDINO </p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1 align-items-center">
                                    <div class="col-md-1"><i style="color:#213C73;" class="fa fa-user ms-2"></i></div>

                                    <div class="col-md-11">
                                        <p class="m-1"> <span class="text-danger">6</span> / 100 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- row 2 -->
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-6 ">
                        <div class="card mb-3 border-0 shadow-sm rounded-sm ">
                            <div class="row g-0 gb">
                                <div class="col-md-4">
                                    <img src="assets/img/card/participa4.svg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">CCN</p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1 align-items-center">
                                    <div class="col-md-1"><i style="color:#213C73;" class="fa fa-user ms-2"></i></div>

                                    <div class="col-md-11">
                                        <p class="m-1"> <span class="text-danger">269</span> / 300 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 ">
                        <div class="card mb-3 border-0 shadow-sm rounded-sm ">
                            <div class="row g-0 gb">
                                <div class="col-md-4">
                                    <img src="assets/img/card/participa5.svg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">EMPRESA CON UN NOMBRE BIEN LARGO</p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1 align-items-center">
                                    <div class="col-md-1"><i style="color:#213C73;" class="fa fa-user ms-2"></i></div>

                                    <div class="col-md-11">
                                        <p class="m-1"> <span class="text-danger">417</span> / 500 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- col-2 -->
                    <div class="col-lg-3 col-md-6 col-6 ">
                        <div class="card mb-3 border-0 shadow-sm rounded-sm ">
                            <div class="row g-0 gb">
                                <div class="col-md-4">
                                    <img src="assets/img/card/participa1.svg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">PRESIDENTE</p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1 align-items-center">
                                    <div class="col-md-1"><i style="color:#213C73;" class="fa fa-user ms-2"></i></div>

                                    <div class="col-md-11">
                                        <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- col-3 -->
                    <!-- <div class="col-lg-3 col-md-6 col-6 ">
                        <div class="card mb-3 border-0 shadow-sm rounded-sm ">
                            <div class="row g-0 bg-primary">
                                <div class="col-md-4">
                                    <img src="assets/img/card/07b133e78156c97e369946d65b4bfef6.jpg"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">Ban Papular</p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1 align-items-center">
                                    <div class="col-md-1"><i style="color:#213C73;" class="fa fa-user ms-2"></i></div>

                                    <div class="col-md-11">
                                        <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->

                </div>


            </div>

        </div>
    </div>
</header>